.room-list {
    display: flex;
    flex-direction: column;
}

.creator-container {
    background-color: lavender;
    padding-bottom: 15px;
}

.rooms {
    margin-top: 20px;
}

.room-details {
    background-color: blue;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    align-items: center;
    margin: 10px;
}