.room-list {
    background-color: pink;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.room-details {
    background-color: blue;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    align-items: center;
}
