.message-list-area {
    background-color: green;
}
.message-details {
    display: flex;
    flex-direction: column;
    border: dashed;
}
.message-details div {
    padding: 10;
}

.room-name {
    background-color: purple;
}