.App {
  display: flex;
  flex-direction: column;
  background-color: yellow;
}

header {
  background-color: orange;
}

.top-bar {
  display: flex;
  /* justify-content: space-around; */
}

.chat-area {
  display: flex;
}
