.App {
  margin: 20px;
}

.App > section {
  flex: 1;
}

.user-name {
  text-align: center;
}

header {
  background-color: orange;
}

.top-bar {
  display: flex;
  height: 60px;
  align-items: center;
}

.top-bar > .user-name {
  flex: 1;
}

.chat-area {
  display: flex;
}

.chat-rooms {
  margin-left: auto;
}

.chat-messages {
  flex: 1;
}
